<h3 class="text-center">Enter your details and we will contact you soon </h3>

<form action="" class="form1">
    <input name="fullName" type="text" class="form-control" placeholder="Your full name">
    <input name="email" type="email" class="form-control" placeholder="Email">
    <input name="telephone" type="tel" class="form-control" placeholder="Phone number">
    <input name="business-name" type="text" class="form-control" placeholder="Business name (optional)">
    <select name="looking-for" class="form-control">
        <option value="enquiring">Looking for...</option>
        <option value="facebook-ads">Facebook Ads</option>
        <option value="instagram-ads">Instagram Ads</option>
        <option value="chatbot">Chatbot</option>
        <option value="pixel">Pixel</option>
        <option value="web-des">Website Design</option>
        <option value="ecommerce">Ecommerce Website</option>
    </select>
    <button type="submit" class=" btn btn-block btn-success">Send</button>
</form>

<div class="spacer"></div>