<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
 
    <a class="navbar-brand"></a>
     <h1 class="navbar-brand text-white">Rapid Media</h1>
    <button type="button" class="navbar-toggler bg-light" data-toggle="collapse" data-target="#nav">
     
    <span class="navbar-toggler-icon"></span>
     
    </button>
     
    <div class="collapse navbar-collapse justify-content-between" id="nav">
     
    <ul class="navbar-nav ml-auto">
     
    <li class="nav-item" >
     
    <a class="nav-link text-light px-3" routerLink="/">Home</a>
     
    </li>
     
    <li class="nav-item dropdown" data-toggle="dropdown">
     
    <a class="nav-link text-light px-3 dropdown-toggle" href="#">Services</a>
     
    <div class="dropdown-menu">
     
    <a class="dropdown-item"  routerLink="facebook">Facebook ads</a>
    <a class="dropdown-item"  routerLink="instagram">Instagram ads</a>
    <a class="dropdown-item"  routerLink="chatbots">Chat bots</a>
    <a class="dropdown-item"  routerLink="ecommerce">Ecommerce websites</a>
    <a class="dropdown-item"  routerLink="web">Website design</a>
    </div>
     
    </li>
     
    <li class="nav-item">
     
    <a class="nav-link text-light px-3"  routerLink="about">About</a>
     
    </li>
     
    <li class="nav-item">
     
    <a class="nav-link text-light px-3"  routerLink="contact">Contact</a>
     
    </li>
     
    </ul>
     
     
    <!-- Search bar -->
     
    
     
    </div>
     
    </nav>