<h3 class="head text-center">Facebook Advertising & Marketing</h3>


<p>First let's give you a quick introduction...</p>
<p>2% of people who like your page only see the post you posted that day which means your audience reach is very low. With facebook ads this gives your business  a huge advantage over any competition. Facebook collects massive amounts of data from people all around the world and peoples behaviours, this data is sold to advertisers to target the perfect customers with products or services. This is why facebook is so powerful.
</p>


<h3>Our Facebook ads are:</h3>
<ul>
    <li>Targeted</li>
    <li>High converting</li>
    <li>Cost effective</li>
    <li>Location specific</li>
    <li>Filtered by demographics</li>
    <li>Available as text, video or image</li>
</ul>
<p>Facebook ads are targeted to users based on their location, demographic, and profile information.</p>

<p>We can accomodate for all budgets, but we advise the more you put in the more you get out. </p>

<img src="../../../assets/fb-hero-image-001.jpeg" alt="" class="banner">