<p>instagram works!</p>
<img src="../../../assets/insta.png" alt="" class="banner">

<h3 class="text-center fix">Instagram Advertising & Marketing</h3>
<p>Along with Facebook ads, we can set you up with a fantastic Instagram advertisement. Similar to Facebook ads, they are targeted by profile information and demographics. We assure you you will get unbelievable exposure to the Instagram user community. </p>
<p>Instagram is growing bigger every day and with Facebook been partnered with them the platform is massive. Advertising on Instagram targets a more younger audience with 72% of its over all users are below the ages of 22. Video ads are the most popular and get the most views on instagram and with the right hashtags your campaigns can scale massively.</p>


<h3>You can have advertisements in the following formats:</h3>

<ul>
    <li>Video</li>
    <li>Image</li>
    <li>Text</li>
    <li>Website</li>
    <li>Or all of the above</li>
</ul>
<img src="../../../assets/every.png" alt="" class="banner">